.row {
    margin: 0;
}

.mt-8 {
    margin-top: 8.8rem;
}

.w-20 {
    width: 20%;
}
.mw-100{
    max-width: 100%;
}
/* color */
.text-navy {
    color: #2b356d;
}

.text-basics {
    color: #628fff;
}

.text-wh {
    color: #fff;
}

.text-red {
    color: #ff4747;
}
.text-gray {
    color: #999;
}

.bg-navy {
    background-color: #2b356d !important;
}
.bg-gray{
    background-color: #e9eaf0;
}

/* button */
.btn-sub {
    width: 16.5rem;
    padding: .8rem 1rem;
    border-radius: 5rem;
    background-color: #628fff;
    font-size: 1.3rem;
    color: #fff;
}

.btn-proposal {
    padding: .8rem 4rem .8rem 2rem;
    border-radius: 5rem;
    font-size: 1.3rem;
    color: #fff;
    background: #628fff url(../images/ic_proposal.png) no-repeat 90% center;
    background-size: 24px 22px;
}

.btn-proposal:hover, .btn-proposal:active, .btn-proposal:focus {
    background: #507ff3 url(../images/ic_proposal.png) no-repeat 90% center;
    background-size: 24px 22px;
    text-decoration: none;
    color: #fff;
}

.btn-sub:hover {
    background-color: #507ff3;
    color: #fff;
}

.btn-sub-s {
    width: 10rem;
    padding: .3rem 1rem;
    border-radius: 5rem;
    background-color: #628fff;
    font-size: 1.15rem;
    color: #fff;
}

.btn-sub-s:hover {
    background-color: #507ff3;
    color: #fff;
}

.btn-navy-s {
    width: 10rem;
    padding: .3rem 1rem;
    border-radius: 5rem;
    background-color: #2b356d;
    font-size: 1.15rem;
    color: #fff;
}

.btn-navy-s:hover {
    background-color: #1d254f;
    color: #fff;
}
.btn-navy-list {
    width: 6rem;
    padding: .3rem 1rem;
    border-radius: 0.3rem;
    background-color: #2b356d;
    font-size: 1rem;
    color: #fff;
}
.btn-navy-list:hover {
    background-color: #1d254f;
    color: #fff;
}

/* sidenav */
body {
    transition: background-color .5s;
}

.sidenav {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    width: 0;
    min-height: 100%;
    padding-top: 25px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.1s;
}

.sidenav a {
    display: block;
    padding: 5px 0;
    margin: 2px 0;
    font-size: 1rem;
    color: #818181;
    text-decoration: none;
    transition: 0.1s;
}

.sidenav a:hover {
    color: #628fff !important;
}

.sidenav .one-depth {
    padding-left: 50px;
}

.sidenav .one-depth a {
    color: #2b356d;
}

.sidenav .two-depth {
    list-style: none;
    padding-left: 8px;
}

.sidenav .two-depth a {
    margin: 0;
    padding-top: 0;
    color: #888;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin: 0 0 0 50px;
    padding: 0;
}

.sidenav-bottom-btn a {
    width: 100%;
    padding: 55px 0 0 0;
    font-size: 1rem;
    color: #2b356d !important;
    display: inline-block;
    margin-bottom: 0;
    opacity: 1;
}

.sidenav-bottom-btn a:hover {
    opacity: 0.7;
}

.sidenav-bottom-btn .ic-circle-call {
    background: url(../images/ic_circle_call.png) no-repeat top center;
    background-size: 53%;
}

.sidenav-bottom-btn .ic-circle-proposal {
    background: url(../images/ic_circle_proposal.png) no-repeat top center;
    background-size: 53%;
}

.sidenav-bottom-btn .ic-circle-blog {
    background: url(../images/ic_circle_blog.png) no-repeat top center;
    background-size: 53%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.sidenav .one-depth .no-hover:hover{
    color:#2b356d!important;
}
hrml {
    font-size: 14px;
}

/* nav */

.itcrew-nav {
    padding: .63rem 1rem;
    border-bottom: 1px solid rgba(225, 225, 225, 0.45);
}

.itcrew-nav ul li a {
    margin: 0 .75rem;
    font-size: 1.05rem;
    color: #fff;
}

.itcrew-nav ul li a:hover, .itcrew-nav ul li a:active, .itcrew-nav ul li a:focus {
    color: #628fff;
}

.btn-menu {
    padding: 17px 28.5px;
    background: url(../images/ic_menu.png) no-repeat center top;
    background-size: 100%;
}

.btn-menu:hover, .btn-menu:active, .btn-menu:focus {
    background: url(../images/ic_menu_on.png) no-repeat center top;
    background-size: 100%;
}

/* footer */
.itcrew-footer {
    background-color: #252c37;
    color: #fff;
}

.itcrew-footer .inquiry-content, .itcrew-footer .inquiry-content .border-right {
    border-color: rgba(225, 225, 225, 0.2) !important;
}

.itcrew-footer .inquiry-content h3 {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 300;
}

.itcrew-footer .inquiry-content h2 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.itcrew-footer .text-info p {
    font-weight: 300;
    font-size: 0.9rem;
    color: rgba(225, 225, 225, 0.5);
}

.itcrew-footer .text-info a {
    display: inline-block;
    margin: 3px 10px;
    opacity: 0.6;
}

.itcrew-footer .text-info a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.itcrew-footer .text-info .sns-f {
    padding: 11px 6px;
    background: url(../images/ic_sns_f.png) no-repeat center;
    background-size: 100%;
}

.itcrew-footer .text-info .sns-b {
    padding: 8px 16.5px;
    background: url(../images/ic_sns_blog.png) no-repeat center;
    background-size: 100%;
}

.itcrew-footer .text-info .proposal-btn {
    padding-right: 30px;
    color: #fff;
    background: url(../images/ic_proposal.png) no-repeat center right;
    background-size: 24px 22px;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
/* width, height */
.wh-35 {
    width: 35%;
}
.wh-33 {
    width:33.33%;
}
.wh-30 {
    width: 30px !important;
}

.ht-60 {
    height: 60%;
}

/* title */
.section-title {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 3.05rem;
}

.sub-txt {
    font-weight: 300;
    font-size: 1.15rem;
}

/* subpage */
.sub-nav {
    position: absolute;
    width: 100%;
}

.list-style-none {
    list-style: none;
}

/* header */
.sub-header {
    height: 410px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

.sub-header h1 {
    font-weight: 400;
    font-size: 3.2rem;
}

.sub-header p {
    font-weight: 300;
    font-size: 1.05rem;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bg-1 {
    background: url(../images/bg1.png) no-repeat top;
    background-size: cover;
}

.bg-2 {
    background: url(../images/bg2.png) no-repeat top;
    background-size: cover;
}

.bg-3 {
    background: url(../images/bg3.png) no-repeat top;
    background-size: cover;
}

.bg-4 {
    background: url(../images/bg4.png) no-repeat top;
    background-size: cover;
}

.bg-5 {
    background: url(../images/bg5.png) no-repeat top;
    background-size: cover;
}

.bg-6 {
    background: url(../images/bg6.png) no-repeat top;
    background-size: cover;
}

@media (max-width: 992px) {
    html {
        font-size: 13px;
    }

    .btn-menu, .btn-menu:hover, .btn-menu:active, .btn-menu:focus {
        padding: 13px 28.5px;
        background-size: 80%;
    }
}

@media (max-width: 767px) {
    .sub-header {
        height: 300px;
    }

    .bg-bar {
        background: transparent;
    }

    .border-bottom-sm, .border-bottom-xs {
        border-bottom: 1px solid #888;
    }

    .itcrew-footer .text-info {
        text-align: center;
    }

    .itcrew-footer .justify-content-end {
        justify-content: center !important;
    }
}

#back {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    left: 0px;
    top: 0px;
}

@media (max-width: 575px) {
    html {
        font-size: 12px;
    }
}
