/* Show it is fixed to the top */
body {
    min-height: 75rem;
}

/* nav 스크롤시 컬러값 변경 */
.navbar-scroll {
    transition: 0ms ease;
    background: transparent;
}

.navbar-scroll.scrolled {
    background: #252c37;
    border-bottom: 0;
    top: 0 !important;
}

.carousel {
    width: auto;
    max-height: 650px;
    overflow: hidden;
}

.carousel .carousel-item img {
    max-height: 650px;
    min-width: 100%;
}

.carousel>.carousel-inner {
    background-color: #3b2e28;
}

.navbar-top {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.pop-section {
    color: #fff;
}

.pop-section h1 {
    font-size: 2.2rem;
}

.pop-section .sale {
    width: 80px;
    padding: 25px 0;
    margin: 0 1.5rem;
    background: url(../images/sale_bg.png) no-repeat center center;
    background-size: 100%;
    font-size: 2rem;
    font-weight: 600;
}

.pop-section .btn-click {
    font-weight: 400;
    font-size: 2.2rem;
    color: #fff;
}

.close-btn {
    position: absolute;
    right: 0;
    margin-top: -90px;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.close-btn label {
    margin: 0;
    font-weight: 300;
    text-shadow: none;
    color: #fff;
}

.close-img {
    width: 20px;
}

/* rolling */

.main-rolling .carousel-control-next-icon {
    width: 36px;
    height: 65px;
    background: url(../images/ic_arrow_right.png) no-repeat center top;
    background-size: 100%;
}

.main-rolling .carousel-control-prev-icon {
    width: 36px;
    height: 65px;
    background: url(../images/ic_arrow_left.png) no-repeat center top;
    background-size: 100%;
}

.main-rolling .carousel-caption {
    bottom: 23%;
}

.main-rolling .carousel-caption h1 {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 4.3rem;
    text-shadow: 1px 1px 4px #000;
}

.main-rolling .carousel-caption p {
    margin-top: 2rem;
}

.main-rolling .carousel-indicators {
    bottom: 40px;
}
.zindex-100{
    z-index: 100;
}
/* main */
/* 제품 section */
.product-box {
    height:400px;
    padding: 7% 5%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 35px -2px;
}

.product-box h2 {
    margin-top: 20px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 1.9rem;
    color: #2b356d;
}

.product-box p {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.5rem;
    color: #888;
    line-height: 1.85rem;
}

.card-center {
    margin: -24px -1.8%;
    height:450px;
}

.ic-service {
    display: inline-block;
    padding: 41px;
    background: url(../images/ic_service.png) no-repeat center;
    background-size: 100%;
}

.ic-build {
    display: inline-block;
    padding: 55px;
    background: url(../images/ic_build.png) no-repeat center;
    background-size: 100%;
}

.ic-install {
    display: inline-block;
    padding: 41px;
    background: url(../images/ic_install.png) no-repeat center;
    background-size: 100%;
}

.product-content a {
    margin: 80px 0 60px 0;
}

/* 기능 section */
.function-section {
    padding: 65px 0;
    background: url(../images/bg_function.png) no-repeat top;
    background-size: cover;
    color: #fff;
}

.function-section h2 {
    font-weight: 300;
    font-size: 1.6rem;
}

.function-section p {
    font-weight: 300;
    font-size: 1rem;
}

/* 장점 section */
.advantage-section {
    padding: 65px 10%;
}

.advantage-section h1 {
    font-weight: 300;
    color: #2b356d;
    margin-bottom: 40px;
}

.advantage-box h2 {
    color: #2b356d;
    font-size: 1.2rem;
    margin: 8% 0% 6% 0;
    font-weight: 400;
}

.advantage-box p {
    color: #888;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: -0.05rem;
    margin-bottom: 0;
}

.advantage-box a {
    padding: 79.5px;
    display: inline-block;
}

.advantage-box .ic-1 {
    background: url(../images/ic_1.png) no-repeat center;
    background-size: 100%;
}

.advantage-box .ic-1:hover {
    background: url(../images/ic_1_on.png) no-repeat center;
    background-size: 100%;
}

.advantage-box .ic-2 {
    background: url(../images/ic_2.png) no-repeat center;
    background-size: 100%;
}

.advantage-box .ic-2:hover {
    background: url(../images/ic_2_on.png) no-repeat center;
    background-size: 100%;
}

.advantage-box .ic-3 {
    background: url(../images/ic_3.png) no-repeat center;
    background-size: 100%;
}

.advantage-box .ic-3:hover {
    background: url(../images/ic_3_on.png) no-repeat center;
    background-size: 100%;
}

.advantage-box .ic-4 {
    background: url(../images/ic_4.png) no-repeat center;
    background-size: 100%;
}

.advantage-box .ic-4:hover {
    background: url(../images/ic_4_on.png) no-repeat center;
    background-size: 100%;
}

.bg-bar {
    background: url(../images/bar.png) no-repeat center 72.5px;
    background-size: 80%;
}

/* 고객사 section */

.customer-section .title-cntent {
    padding: 85px 0  75px 0;
    background: url(../images/bg_customer.png) no-repeat top;
    background-size: cover;
    color: #fff;
}

.customer-section .title-cntent h1 {
    font-weight: 300;
}

.customer-section .title-cntent p {
    margin-bottom: 0;
}

.w-85 {
    width: 60%;
}
/* 상담하기 section */
.consult-section {
    padding: 85px 20px;
    color: #fff;
}

.consult-section h1 {
    font-weight: 300;
}

/* news */
.news-section {
    color: #fff;
    padding: 85px 20px;
}

.news-section a {
    font-weight: 300;
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
}

.news-section a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.more a {
    font-weight: 300;
    font-size: 1.3rem;
    color: #628fff;
}

.more a:hover {
    color: rgba(98, 143, 255, 0.6);
}

.clear-both {
    clear: both;
}
@media (max-width: 1280px) {
    .w-85 {
        width: 85%;
    }
}
@media (max-width: 1176px) {
    .customer-section .logo1 {
        padding: 63px 66px;
    }
    .product-box {
        height:330px;
    }
    .card-center {
        height:380px;
    }
}

@media (max-width: 992px) {
    .main-rolling .carousel-caption {
        bottom: 30%;
    }

    .ic-service, .ic-install {
        padding: 31px;
    }

    .ic-build {
        padding: 40px;
    }

    .md-size {
        text-align: center;
        padding: 1rem !important;
    }

    .md-size img {
        width: 200px;
    }

    .ht-size {
        height: 25px;
    }

    .advantage-box a {
        padding: 59px;
    }

    .bg-bar {
        background: url(../images/bar.png) no-repeat center 59px;
        background-size: 80%;
    }

    .pop-section .sale {
        width: 60px;
    }
    .product-box {
        height:300px;
    }
    .card-center {
        margin:-15px -1.8%;
        height:330px;
    }
}

@media (max-width: 767px) {
    .carousel {
        max-height: 450px;
    }

    .main-rolling .carousel-control-next-icon, .main-rolling .carousel-control-prev-icon {
        width: 26px;
        height: 55px;
    }

    .main-rolling .carousel-caption h1 {
        font-size: 3rem;
    }

    .main-rolling .carousel-caption {
        bottom: 45%;
    }

    .card-center {
        margin: 0;
    }

    .section-title {
        font-size: 2.05rem !important;
    }

    .product-content a {
        margin: 60px 0 60px 0;
    }

    .customer-section .logo1 {
        padding: 45px 50px;
    }

    .news-section {
        padding: 50px 20px;
    }

    .cont h1, .cont p, .cont .sale, .cont .btn-click {
        font-size: 1.5rem;
    }

    .close-btn {
        margin-top: -80px;
    }

    .close-img {
        width: 15px;
    }

    .pop-section .sale {
        width: 50px;
    }
    .product-box{
        height:260px;
    }
}

@media (max-width: 480px) {
    .customer-section .logo1 {
        padding: 45px 45px;
    }

    .main-rolling .carousel-caption h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
