/* value FireCloud */
.value-content {
    padding-top: 135px;
    padding-bottom: 50px;
}

.value-content h2 {
    font-size: 3.2rem;
    color: #2b356d;
}

.value-content h3 {
    background-color: #2b356d;
    border-radius: 50px;
    font-weight: 300;
    font-size: 1.15rem;
    color: #fff;
}

.value-content ul {
    padding-left: 15px;
}

.value-content ul li {
    font-weight: 300;
    font-size: 1rem;
    color: #333;
    line-height: 1.8rem;
}

.value-content ul ul {
    padding-left: 0px;
}

.value-content .border-right {
    border-color: #2b356d !important;
}

/* option function 기능 > 옵션기능 */
.option-content h2 {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #2b356d;
}

.option-content h3 {
    font-weight: 400;
    font-size: 1.15rem;
    color: #333;
}

.option-content p {
    font-weight: 300;
    font-size: 1rem;
    color: #888;
    line-height: 1.8rem;
}

.option-content .text-red {
    font-size: 0.9rem;
    font-weight: 400;
}

.option-content p span {
    margin-right: 5px;
    font-weight: 400;
}

/* product */
.sub-header .header-tab {
    border: 0;
}

.sub-header .header-tab span {
    display: block;
    font-size: 1.6rem;
    color: #bbbbbb;
    font-weight: 300;
    margin: 0px 15px;
    text-shadow: none;
}

.sub-header .header-tab .nav-link {
    display: contents;
    font-size: 1.6rem;
    font-weight: 400;
    color: #bbbbbb;
    text-shadow: none;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.sub-header .header-tab .nav-link:hover {
    border: 0;
}

.sub-header .header-tab .nav-item.show .nav-link, .sub-header .header-tab .nav-link.active {
    border: 0;
    background-color: transparent;
    color: #6985ed;
}

.product-content h2 {
    font-size: 1.3rem;
    color: #2b356d;
}

.product-content ul {
    padding-left: 18px;
}

.product-content ul li {
    font-weight: 400;
    font-size: 1rem;
    color: #888;
    line-height: 1.8rem;
}

.product-content span {
    font-size: 0.9rem;
}

.table-content {
    padding: 0 55px;
    text-align: center;
    font-size: 1rem;
    color: #333;
}

.table-content .table-bg {
    background-color: #f7f7f8;
}

.table {
    border-top: 3px solid #6985ed !important;
}

/* notice, FAQ  */

.notice-content .form-control {
    border-radius: 0 !important;
    font-size: 0.9rem;
}

.notice-content input {
    border-color: #bbb;
}

.notice-content .btn-outline-secondary {
    border-color: #bbb;
    border-radius: 0;
    background: url(../images/ic_search.png) no-repeat center;
    background-size: 70%;
    padding: 10px 20px;
}

.notice-content .btn-outline-secondary:hover, .notice-content .btn-outline-secondary:focus, .notice-content .btn-outline-secondary:active {
    background: url(../images/ic_search_active.png) no-repeat center;
    background-size: 70%;
}

.accordion-list {
    border-top: 3px solid #6985ed;
}

.accordion-list .card:first-of-type {
    border-radius: 0;
}

.accordion-list .card:last-of-type {
    border-radius: 0;
}

.accordion-list .card-header {
    background-color: #fff;
    border-bottom: 0;
}

.accordion-list .card {
    border-left: 0;
    border-right: 0;
}

.accordion-list .card:first-child {
    border-top: 0;
}

.accordion-list .card-header:hover {
    background-color: #f3f3f3;
}

.accordion-list .card-body {
    color: #777;
    border-top: 1px solid #ddd;
    line-height: 1.9rem;
}

.accordion-list button {
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    border-bottom: 0;
    padding: 8px;
}

.accordion-list button:hover, .accordion-list button:active, .accordion-list button:active, .btn-link.focus, .btn-link:focus {
    text-decoration: none !important;
    color: #333;
}

.accordion-list .card-header {
    padding: 0;
}

.accordion-list .card-header:first-child {
    border-radius: 0;
}

.notice-list {
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
}

.notice-list a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
}

.notice-list a:hover {
    color: #6985ed;
}

.table-border {
    border-top: 3px solid #6985ed !important;
}

.notice-body {
    color: #333;
    line-height: 1.9rem;
}

.noti-mark {
    border-radius: 20px;
    border-color: #4cc4d0 !important;
    color: #4cc4d0;
    padding: 2px 10px;
}

.event-mark {
    border-color: #5a79ec !important;
    border-radius: 20px;
    color: #5a79ec;
    padding: 2px 17px;
}

.update-mark {
    border-color: #2b356d !important;
    border-radius: 20px;
    color: #2b356d;
    padding: 2px 10px;
}

.q-mark {
    color: #5a79ec;
    font-weight: 600;
    font-size: 1.5rem;
    vertical-align: bottom;
}

.pagination a {
    color: #2b356d;
}

.pagination .active {
    color: #6985ed;
}

.pagination a:hover, .pagination a:active, .pagination a:focus {
    color: #6985ed;
}

.txt-normal {
    white-space: normal;
    line-height: 1.8rem;
}

select.no-radius {
    border: none;
}

.select-wrapper {
    border: 1px solid #bbb;
    border-radius: 0px;
}

/*  build-process */
.build-p-content h2, .maintenance-p-content h2 {
    font-size: 1.9rem;
    color: #2b356d;
}

.build-p-content .col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
}

/* maintenance-process */

.maintenance-p-content .step-cover {
    width: 680px;
    border-radius: 100px;
    background-color: #e9eaf0;
}

.maintenance-p-content ul li {
    font-weight: 300;
    font-size: 1.15rem;
    color: #2b356d;
    line-height: 1.8rem;
}

.list-style-none {
    list-style: none;
}

.system-menagement-box {
    background-color: #e9eaf0;
    border-radius: 20px;
    height: 260px;
}

.system-menagement-box h2 {
    font-weight: 400;
    font-size: 1.3rem;
    color: #2b356d;
}

/* about */
.about-itcrew table {
    border-top: 0px !important;
    text-align: left;
}

.about-itcrew table tr th {
    font-size: 1rem;
    color: #2b356d;
}

.about-itcrew table tr td {
    font-weight: 400;
    font-size: 1rem;
    color: #777;
}

.about-itcrew h1 {
    color: #2b356d;
}

.about-card-content {
    color: #fff;
    background: url(../images/about_bg.png) no-repeat top;
    background-size: cover;
}

.about-content h1 {
    font-size: 3.05rem;
    font-weight: 400;
}

.about-card-content p {
    font-size: 1rem;
    line-height: 1.8rem;
}

.about-card-content .row {
    padding: 0 5.5rem !important;
}

.about-card-content .card-cox {
    min-height: 330px;
}

.about-card-content .card-cox h2 {
    font-size: 1rem;
}

.about-card-content .card-cox p {
    font-size: 0.9rem;
    color: #767da6;
    line-height: 1.4rem;
}

.scroll-box {
    min-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.what_we_do {
    color: #fff;
    background: url(../images/bg_about.png) no-repeat top;
    background-size: cover;
}

.client-list-content h1 {
    font-size: 2.2rem;
    color: #2b356d;
}

.client-catagory-content li {
    font-size: 1.15rem;
    color: #bbb;
}

.client-catagory-content .nav-pills .nav-link.active, .client-catagory-content .nav-pills .show > .nav-link {
    background-color: transparent;
    color: #bbb;
}

.client-catagory-content li a {
    color: #bbb;
}

.client-catagory-content li a:hover, .client-catagory-content .nav-pills .nav-link.active:hover, .client-catagory-content .nav-pills .show > .nav-link:hover {
    color: #2b356d;
}

.client-catagory-content ul span {
    display: block;
    margin: 0px;
    font-weight: 300;
    font-size: 1.6rem;
    color: #bbbbbb;
}

.client-list-content h2 {
    display: inline-block;
    padding: 0.5% 5%;
    background-color: #2b356d;
    border-radius: 50px;
    font-weight: 300;
    font-size: 1.5rem;
    color: #fff;
}

.client-list-content .logo-box {
    height: 120px;
    margin-left: -1px;
    margin-bottom: -1px;
    position: relative;
    width: 50%;
}

.client-image {
    display: block;
    width: 50%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(43, 53, 109, 0.8);
}

.logo-box:hover .overlay {
    opacity: 1;
}

.client-text {
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.client-text p {
    margin: 0;
    line-height: 1rem;
}

/* 문의하기 */
.advice-content h3 {
    font-size: 1.15rem;
    color: #2b356d;
}

.advice-content .table {
    border-top: 0px !important;
}

.advice-content table tr th {
    background-color: #f7f7f8;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
}

.advice-content table thead th {
    border-width: 1px;
}

.advice-content p {
    font-size: 0.9rem;
    color: #888;
}

.advice-content .agreement-check label {
    font-size: 1rem;
    color: #333;
}

.h-45 {
    height: 45px;
}

.advice-content .form-control {
    border: 1px solid #dee2e6;
    background-color: #f7f7f8;
    font-size: 1rem;
}

.advice-content .btn-secondary {
    width: 50%;
    height: 45px;
    padding: 1.5% 3%;
    border-color: #dee2e6;
    background-color: #f7f7f8;
    font-size: 1rem;
    color: #888;
}

.advice-content .btn-secondary:not(:disabled):not(.disabled).active, .advice-content.btn-secondary:not(:disabled):not(.disabled):active, .show > .advice-content.btn-secondary.dropdown-toggle {
    background-color: #2b356d;
}

/* 구축사례 */

.card-box {
    position: initial;
    margin-bottom: 1.2rem !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.card-box h5 {
    font-weight: 400;
    font-size: 1.6rem;
    color: #2b356d;
}

.logo-mark span {
    display: inline-block;
    float: right;
    margin-top: -1.5rem;
    padding: 10px 9px;
    background-color: #2b356d;
}

.card-box hr {
    border-top: 1px solid #2b356d;
}

.card-box ul li {
    font-size: 1rem;
    color: #888;
    line-height: 1.8rem;
}

.p- {
    padding: 0.1rem;
}

.p- span {
    margin-top: -1.6rem;
}

/* 기본기능 */
.header-tab-function {
    margin-top: 5rem;
}

.header-tab-function li a {
    font-size: 1.4rem;
    color: #bbb;
    text-shadow: none;
    padding: 4px 12px;
    margin: 0 5px;
}

.header-tab-function .nav-link {
    border-radius: 50px;
}

.header-tab-function li a:hover, .header-tab-function li a:active, .header-tab-function li a:focus.sub-header .header-tab-function .nav-item.show .nav-link, .sub-header .header-tab-function .nav-link.active {
    border: 0;
    background-color: #6985ed;
    color: #fff;
}

.sub-header .header-tab-function, .header-tab-function .nav-link {
    border: 0;
}

.sub-title-content {
    font-size: 2.2rem;
    color: #2b356d;
}

.function-slide {
    margin-bottom: 10rem;
}

.function-slide .carousel-indicators li {
    background-color: rgba(105, 133, 237, 0.3);
}

.function-slide .carousel-indicators .active {
    background-color: #6985ed;
}

.function-slide .carousel-indicators {
    bottom: -30px;
}

.function-slide h1 {
    font-size: 1.9rem;
    color: #2b356d;
}

.function-slide h2 {
    font-weight: 400;
    font-size: 1.15rem;
    color: #777;
    line-height: 2rem;
}

.function-slide ul {
    padding-left: 20px;
}

.function-slide ul li {
    font-size: 1rem;
    color: #777;
    line-height: 1.8rem;
    font-weight: 300;
}

.process-txt h3 {
    display: inline-block;
    width: 180px;
    padding: 4px 18px;
    border-radius: 50px;
    text-align: center;
    font-weight: 300;
    font-size: 1.15rem;
    color: #fff;
}

.process-txt h4 {
    font-size: 1rem;
    color: #2b356d;
}

.color-gradation-1 {
    background-color: #637de0;
}

.color-gradation-2 {
    background-color: #5267bd;
}

.color-gradation-3 {
    background-color: #4456a1;
}

.color-gradation-4 {
    background-color: #3b498d;
}

.color-gradation-5 {
    background-color: #2b356d;
}

.process-txt ul li {
    font-weight: 300;
    font-size: 1rem;
    color: #888;
    line-height: 1.8rem;
}

.hidden {
    color: transparent;
}

/* about */
.history .history-tab a {
    font-size: 1.15rem;
    color: rgba(43, 53, 109, 0.5);
    text-align: center;
    padding: 1px;
    margin: 10px 0px;
    width: 75%;
}

.history .history-tab a:active, .history .history-tab a:hover, .history .history-tab a:focus, .history .history-tab .active {
    color: #fff;
    background-color: #2b356d;
    border-radius: 50px;
}

.history .tab-content p {
    font-weight: 400;
    font-size: 1rem;
    color: #333;
}

.history .tab-content p span {
    padding-right: 30px;
    font-weight: 400;
    color: #6985ed;
}

.contack_us h1 {
    color: #2b356d;
}

.contack_us h2 {
    font-size: 1.15rem;
    font-weight: 400;
    color: #6985ed;
}

.contack_us p {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

@media (min-width: 1200px) {
    .logo1 {
        background-size: 60%;
    }

    .logo2 {
        background-size: 60%;
    }

    .client-image {
        width: 55%;
    }
}

@media (max-width: 1199px) {
    .client-image {
        width: 70%;
    }
}

@media (max-width: 1150px) {
    .build-p-content img {
        width: 100%;
        height: 100%;
    }

    .function-slide img {
        width: 100%;
    }
}

@media (max-width: 1077px) {
    .product-sub-img img {
        width: 100%;
        height: 100%;
    }

    .maintenance-p-content .top-img {
        width: 100%;
        height: 100%;
    }

    /* about */
    .about-card-content .row {
        padding: 0 2rem !important;
    }
}

@media (max-width: 1024px) {
    /* product */
    .product-content img {
        width: 350px;
        height: 350px;
    }

    .table-content {
        padding: 0 30px;
    }

    .client-list-content .logo-box {
        height: 80px;
    }

    .system-menagement-box {
        height: 270px;
    }
}

@media (max-width: 992px) {
    /* value FireCloud */
    .value-content {
        padding-top: 90px;
    }

    .value-content img {
        width: 700px;
    }

    /* option function 기능 > 옵션기능 */
    .option-content img {
        width: 100px;
        height: 100px;
    }

    /* product */
    .product-content img {
        width: 280px;
        height: 280px;
    }

    .table-content {
        padding: 0 15px;
    }

    /* about */
    .about-card-content .row {
        padding: 0 1rem !important;
    }

    .about-card-content .card-cox {
        min-height: 275px;
    }

    .card-columns {
        column-count: 2;
    }

    .function-slide img {
        width: 70%;
    }

    .system-menagement-box {
        height: 200px;
    }

    .system-menagement-img {
        width: 100%;
    }

    .process-txt h3 {
        width: 150px;
    }

    .about-itcrew img {
        width: 100%;
    }

    .sub-header .header-tab span {
        margin: 0 10px;
    }

    .client-image {
        width: 70%;
    }
}

@media (max-width: 767px) {
    /* value FireCloud */
    .value-content {
        padding-top: 70px;
    }

    .value-content img {
        width: 500px;
    }

    .value-content .border-right {
        border-right: 0 !important;
    }

    .border-b {
        border-bottom: 1px solid #888;
    }

    /* option function 기능 > 옵션기능 */
    .xs-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 0;
    }

    .xs-center {
        text-align: center;
    }

    .table-content {
        padding: 0px;
    }

    .notice-content .btn-outline-secondary {
        background-size: 60%;
    }

    /* build-process */
    .build-p-content img {
        width: 245px;
        height: 1058px;
    }

    .scroll-box {
        overflow-x: hidden;
    }

    .about-teble {
        width: 400px;
    }

    .about-card-content .card-cox {
        min-height: 200px;
    }

    .card-columns {
        column-count: 1;
    }

    .header-tab-function {
        margin-top: 3rem;
    }

    .header-tab-function li a {
        padding: 9px;
        margin: 0 8px;
    }

    .system-menagement-box {
        height: 250px;
    }

    .about-itcrew img {
        width: 289px;
    }

    .history .history-tab a {
        width: 100%;
    }

    .client-image {
        width: 60%;
    }
}

@media (max-width: 575px) {
    .system-menagement-box {
        height: 155px;
    }
}

@media (max-width: 480px) {
    /* value FireCloud */
    .value-content {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .value-content img {
        width: 380px;
    }

    .function-slide img {
        width: 90%;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 8%;
    }

    .wh-30 {
        width: 20px !important;
    }

    .client-image {
        width: 65%;
    }
    .header-tab-function li a {
   
        margin: 0 5px;
    }
    .nav-link img {
        width: 32px;
    }
}
